<!-- <h1>Enter Assisted Query Below</h1> -->



<!-- <p>{{values}}</p> -->

<!-- <label for="query">Query:</label>
  <input type="text" id="query" name="query" (keyup)="onKey($event)">
    <br />
    <img [src]="graph_1" />
    <img [src]="graph_2" />
    <img [src]="graph_3" />

<ng-template [ngIf]="ifErupt">
  <img src="https://graph-demo.azurewebsites.net/graph_query?query=How%20is%20P126%E2%80%99s%20eruption%20rate%20compared%20to%20normal%20cases?" />
</ng-template> -->




<!-- (ngSubmit)="onSubmit(formGroup.value)" -->

 <!-- <div #graph></div> -->
 <div class="jumbotron text-center">
 	<h1 class = "row justify-content-center">Enter Query Below:</h1>
 

<div class="container mt-5">
	<div class="row justify-content-center">

		<div class="col-12 col-md-10 col-lg-8">
			<form class="card card-sm" [formGroup]="formGroup" (ngSubmit)="onSubmit(formGroup.value)"
				autocomplete="off">
				<!------------------------- Disable Autocomplete -------------------------->
				<input autocomplete="false" name="hidden" type="text" style="display:none;">
				<!------------------------------------------------------------------------->
				<div class="card-body row no-gutters align-items-center">
					<div class="col-auto">
						<i class="fas fa-search h4 text-body"></i>
					</div>
					<div class="col">
						<input class="form-control form-control-lg form-control-borderless" type="text" id="query"
              formControlName="query" spellcheck="false">
          </div>
						<div class="col-auto">
							<button class="btn btn-lg btn-success" type="submit" ng-model="activate" ng-init="activate = true" (click) = "sendImages()">Search</button>
						</div>
					</div>
			</form>
		</div>
	</div>
	<br>
	<div class="row justify-content-center">
		<div class="border rounded m-4" id="vis"></div>
	</div>
</div>
</div>



<h2  class = "row justify-content-center" ng-if="activate">Results:</h2>
<div class="container mt-5">
	<div class="row justify-content-center">
		<table class="styled-table" *ngIf="activate">
			<thead>
				<tr>
					<th>Query</th>
					<th>Result</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Percentage of patients who have more than 5 cavities</td>
					<td>15.6%</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

<div *ngFor = "let image of images">
	<img [src] = "getimageurl + image" style = "width: 40%"/>	
</div>