<div *ngIf="!(tags.length > 0)">
  <h3>Medical Image Classifier</h3>
  <input type="file" (change)="onFileChanged($event)" #fileInput />
  <button (click)="onUpload()">Submit</button>
</div>

<div *ngIf="tags.length > 0">
  <h3>Image</h3>
  <img style="width:40%" [src]="imageURL" [alt]="selectedFile.name" />

  <h3>Tags</h3>
  <app-tags
    [tags]="tags"
    [suggestions]="suggestions"
    (tagAdded)="onTagAdded($event)"
    (tagRemoved)="onTagRemoved($event)"
  >
  </app-tags>
</div>

<br>

<form action="http://sdp2.cse.uconn.edu:8080/process" method = "post">
  <label for="fname">Enter Data:</label> <br><br>
  <textarea cols = "50" rows = "10"></textarea> <br><br>
  <input type="submit" value="Submit" (click) = "sendToken(); activate = !activate">
</form>

<div *ngIf="activate">
  {{str}}
</div>