<div class="row justify-content-center">
  <img class="pt-5 pb-5" width="40%" src="https://www.open-emr.org/wiki/skins/openemr/images/logo-full-con.png"
      alt="OpenEMR logo">
</div>



<app-login></app-login>

<!-- <app-sql-query></app-sql-query> -->

<nav>
  
    <ul>
      <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
      <li><a routerLink="/about" routerLinkActive="active">About</a></li>
      <li><a routerLink="/contact" routerLinkActive="active">Contact</a></li>
      <li><a routerLink="/sql-query" routerLinkActive="active">SQL Query</a></li>
      <li><a routerLink="/assisted-query" routerLinkActive="active">Assisted Query</a></li>
    </ul>
  
</nav>

<router-outlet></router-outlet>


`
