<!-- <head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  </head> -->


  <body>
  
  <div class="jumbotron text-center">
    <h1>Welcome to Clinical Data Integration</h1>
    <p>Below are the available options:</p> 
  </div>
    
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <h3>About</h3>
        <p>We are a team of 5 students looking to combine data from multiple databases into 1. Users can then make querys on the combined database.</p>
        <p>Click on the about tab to learn more about our team and our mission.</p>
      </div>
      <div class="col-sm-4">
        <h3>SQL Query</h3>
        <p>For researches or other professionals who are familiar with SQL, a query can be typed in to directly access the database.</p>
        <p>Click on the SQL Query tab to enter.</p>
      </div>
      <div class="col-sm-4">
        <h3>Assisted Query</h3>        
        <p>For those unfamiliar with SQL, you can input an english sentence describing the data you want and we will transform that sentence into SQL code.</p>
        <p>Click on the Assisted Query tab to enter.</p>
      </div>
    </div>
  </div>
  
  </body>
